<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1>New note</h1>

    <%= render 'form' %>

    <div class="action"><%= link_to raw("<div class='circle'><i class='glyphicon glyphicon-th-list'></i></div> Back to all notes"), root_path, class: "actionlink" %></div>
  </div>
</div>

<br />