 <h3><a href="#">Biology - Cells</a></h3>
  <div class="text">
    <pre>"Cell membranes are very important structures to cells because they function as a barrier between the components of the cell and the outside environment. The cell membrane is not only responsible for creating a wall between inside and outside the cell, it must also act as a threshold through which select molecules can enter and exit the cell when necessary. The cell membrane is what defines the cell and keeps its components separate from outside cells or organisms."</pre>
  </div>
  <div class="links">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-danger">Delete</button>
  </div>
   

<h3><a href="#">AP European History</a></h3>
  <div class="text">
    <pre>"Chapter outlines from "A History of Western Society by McKay, Hill and Butler" to help you review what you've read, chapter-by-chapter. Use this information to ace your AP European History quizzes and tests!"</pre>
  </div>
  <div class="links">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-danger">Delete</button>
  </div>


<h3><a href="#">Math - Calculus</a></h3>
  <div class="text">
    <pre>Calculus is the mathematical study of change, in the same way that geometry is the study of shape and algebra is the study of operations and their application to solving equations."</pre>
  </div>
  <div class="links">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-danger">Delete</button>
  </div>