<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<h1><%= @note.title %></h1>

  	<div class="content">
  	  <%= simple_format(@note.content) %>
  	</div>

    <div class="action"><%= link_to raw("<div class='circle'><i class='glyphicon glyphicon-pencil'></i></div> Edit this note"), edit_note_path(@note), class: "actionlink" %></div>
  	<div class="action"><%= link_to raw("<div class='circle'><i class='glyphicon glyphicon-th-list'></i></div> Back to all notes"), root_path, class: "actionlink" %></div>
  </div>
</div>

<br />