<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	
	<div id='videos'>
	<video id='localVideo' autoplay muted></video>
	<video id='remoteVideo' autoplay></video>
	</div>


    <div id="piano"></div>

  	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/piano/html5piano.js"></script>
    <script src='/javascripts/lib/adapter.js'></script>
    <script src='/socket.io/socket.io.js'></script>
  	<script src="/javascripts/webrtc.js"></script>
  	<script src="/javascripts/main.js"></script>
  </body>
</html>