// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Tables
.table {
  table-layout: fixed;
  thead {
    tr {
      th {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        &.sort-desc:after {
          padding-left: 1em;
          content: "\25BC";
        }
        &.sort-asc:after {
          padding-left: 1em;
          content: "\25B2";
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        td:nth-child(3) .glyphicon {
          display: inline;
        }
      }
      td {
        padding: 0;
        a {
          padding: 8px;
          display: block;
          height: 100%;
          width: 100%;
          color: #000;
          &:hover {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }
}

// Actions
.action {
  float: left;
  margin-right: 20px;
  .actionlink {
    font-size: 1.2em;
    .circle {
      line-height: 15px;
      .glyphicon {
        font-size: 0.6em;
      }
    }
    &:hover {
      text-decoration: underline;
      .circle {
        background: #2c3e50;
      }
    }
  }
}

// Forms
.edit_note, .new_note {
  .help-inline {
    color: #b94a48;
  }
  .control-group {
    margin-bottom: 20px;
  }
  textarea.form-control {
    height: 240px;
  }
  label {
    text-transform: uppercase;
  }
}

abbr[title] {
  display: none;
}

.noteless {
  text-align: center;
  margin: 40px 0;
  a {
    font-weight: bold;
  }
}

#note_user_ids {
  visibility: hidden;
}

.chosen-container-multi {
  .chosen-choices {
    padding: 6px 12px;
    li.search-choice {
      margin: 0 6px 0 0;
    }
    li.search-field input[type="text"] {
      padding: 0;
    }
  }
}